.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 630px;
    height: 460px;
    padding-left: 10px;
    margin: 50px auto;
    background-color: #5e60ce;
    border-radius: 7px;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
}