.shopping-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 80%;
    padding: 10px;
    margin-right: 10px;
    background-color: #9bf6ff;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: scroll;
}